{% if site.disqus_shortname %}
<div id="disqus_container"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css">
<script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        owner: 'DLX4',
        repo: 'DLX4.github.io',
        oauth: {
            client_id: '2466adbff86d76b593f3',
            client_secret: 'c67d196991fe003bb2646b0a8c36349d53e5bd56',
        },
    })
    gitment.render('disqus_container')
</script>
{% endif %}